*.class
*.db
*.idea
*.iml
*.iml 
*.jar
*.out
*.pyc
*.swp
*jar
.*.swo
.*.swp
.DS_Store
.cpcache
.idea
.lein-*
.lein-deps-sum
.lein-plugins
.lein-repl-history
.nrepl-port
.rebel_readline_history
.repl
/.lein-*
/.nrepl-port
/checkouts
/classes
/lib
/node_modules
/out
/resources/public/js/compiled/**
/target
/test-results
TESTS-Chrome*.xml
classes
figwheel_server.log
out*.txt
package-lock.json
pom.xml
pom.xml.asc
tags
target
