{:paths   ["src/clj" ; Clojure source files
           "target/java" ; compiled Java *.class files
           ]
 :deps    {
           cambium/cambium.codec-simple {:mvn/version "0.9.3"}
           cambium/cambium.core         {:mvn/version "0.9.3"}
           cambium/cambium.logback.core {:mvn/version "0.4.3"}
           org.clojure/clojure          {:mvn/version "1.10.1"}
           prismatic/schema             {:mvn/version "1.1.12"}
           tupelo                       {:mvn/version "0.9.200"}
           }

 :aliases {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0-612"}}
                  }}
 }