; ***** Be sure to use tagged reader literal '#kaocha/v1' *****
#kaocha/v1 {:tests
            [{:id          :unit
              :test-paths  ["test/clj"]
              :ns-patterns ["^tst..*"]
              }]
            ; :reporter kaocha.report.progress/report
            ; :plugins [:kaocha.plugin/profiling :kaocha.plugin/notifier]
            }
